/*All*/
html {max-width: 100%; margin: 0 auto; background: rgb(235, 235, 235);}
main {font-family: Arial; font-size: 22px;}
body {margin:  0;}
h1, h2 {color: rgb(170, 0, 136); text-align: center; margin: 0 0 15 0;}
ul {list-style: none;}

/*TopBar*/
.navigationBar {z-index: 9999; position: fixed; width: 100%; height: 3.6rem; background-color: rgb(170, 0, 136); overflow: hidden; padding: 0; margin: -8 0 0 0;}
.navigationBar li, .navigationBar a {display: inline-block; color: rgb(235, 235, 235); padding: 1rem 0.6rem 1rem 0.6rem; font-weight: bold;}
.navigationBar img {margin: 0 0 0 1rem;}

.navigationBar li:hover, .navigationBar a:hover {color: rgb(170, 0, 136); background-color: rgb(235, 235, 235);}

/*Image + overlay*/
.bewerbungsHomepage_Background {width: 100%; height: 50%; position: relative;}
.bewerbungsHomepage_BackgroundIMG {width: 100%; height: 100%;}
.bewerbungsBild {position: absolute; bottom: 0px; left: 35rem; height: 80%; width: 16%;}

/*Meine Fähigkeiten*/
figure {text-align: center; position: relative; top: 20px; margin: 0; padding: 0;}
figure figcaption {font-size: 42px; font-weight: bold; color: rgb(170, 0, 136);}
.barA {transform: translateY(60px); font-size: 22px;}
.barB {transform: translateY(120px); font-size: 22px;}
.barC {transform: translateY(180px); font-size: 22px;}
.barD {transform: translateY(240px); font-size: 22px;}
.barE {transform: translateY(300px); font-size: 22px;}
.barF {transform: translateY(360px); font-size: 22px;}

/*Sprachkenntnisse*/
figure figcaption {font-size: 42px; font-weight: bold; color: rgb(170, 0, 136);}
.barG {transform: translateY(60px); font-size: 22px;}
.barH {transform: translateY(120px); font-size: 22px;}
.barI {transform: translateY(180px); font-size: 22px;}

/*BarColor*/
.barColorBackground {fill: rgb(202, 158, 202); position: relative;}
.barColorForeground {fill: rgb(170, 0, 136); position: relative; transition: width 2.5s ease-in-out;}

/*Persönliche Daten*/
.persönlicheDaten {display: flex; align-items: center; justify-content: center;}
.persönlicheDatenLinks {text-align: right; border-right: 1px solid rgb(170, 0, 136); padding: 20 15 20 0; margin: 0; font-weight: bold;}
.persönlicheDatenRechts {text-align: left; border-left: 1px solid rgb(170, 0, 136); padding: 20 0 20 30; margin: 0;}

/*Praktika List*/
.praktika {text-align: center; margin: 20 0;}
.praktikaList {display: flex; align-items: top; justify-content: center; font-weight: bold;}
.praktikaDates {text-align: right; margin: 22 0 0 400; padding: 0 18 0 40;}
.praktikaDates li {margin: 0 0 127 0;}
.praktikaHeader {text-align: left; padding: 0 0 0 30;}
.praktikaHeader ul {list-style: disc; font-weight: normal; margin: 0 0 20 0;}
.praktikaList .circles {padding: 0;}
.praktikaList .circle {width: 20; height: 20; border-radius: 50%; background-color: rgb(170, 0, 136); display: inline-block; margin: 0 0 128 0;}

/*Schulbildung List*/
.schulbildung {text-align: center; margin: 20 0;}
.schulbildungList {display: flex; align-items: top; justify-content: center; font-weight: bold;}
.schulbildungDates {text-align: right; margin: 22 0 0 280; padding: 0 18 0 40;}
.schulbildungDates li {margin: 0 0 40 0;}
.schulbildungHeader {text-align: left; padding: 0 0 0 30;}
.schulbildungHeader ul {list-style: disc; font-weight: normal;}
.schulbildungHeader li {margin: 0 0 40 0;}
.schulbildungList .circles {padding: 0;}
.schulbildungList .circle {width: 20; height: 20; border-radius: 50%; background-color: rgb(170, 0, 136); display: inline-block; margin: 0 0 41 0;}
.schulbildungList .circleSpecial {width: 20; height: 20; border-radius: 50%; background-color: gold; display: inline-block; margin: 0 0 41 0; outline-style:solid; outline-color: rgb(170, 0, 136);}

/*Hobbys und Interesse*/
.hobbys {position: relative; margin: 0 0 0 0;}
.hobbysContainer {display: flex; justify-content: center; gap: 20px;}
.hobbyimg {display: flex; flex-direction: column; align-items: center; margin: 20px; justify-content: flex-end;}
.hobbyimg img {height: 70px; width: 70px; order: 2;}
.hobbyimg p {margin-top: 10px; text-align: center; order: 1; font-weight: bold; max-width: 140px;}

/*Kontakt*/
.kontaktContainer {display: flex; justify-content: space-between; align-items: top; position: absolute; left: 50%; top: 40%;  transform: translate(-50%, -50%);}
.kontaktContainer p {font-weight: bold;}
.kontaktContainer ul {padding: 0; margin: 0;}
.kontakt {text-align: center; width: 250px; color: rgb(221, 221, 221); font-size: 22px; margin: 0 20 0 20;}
